@import "tailwindcss";

/* optional */
body {
  font-family: ui-sans-serif, system-ui, sans-serif;
}

/* controles nativos del navegador */
input[type="date"],
input[type="time"],
input[type="datetime-local"] {
  /* por default = claro */
  color-scheme: light dark;
}

.dark input[type="date"],
.dark input[type="time"],
.dark input[type="datetime-local"] {
  /* cuando hay .dark en <html> */
  color-scheme: dark;
}
